@font-face {
  font-family: "IranSans";
  src: url("./fonts/FontsFree-Net-ir_sans.ttf") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  direction: rtl;
  font-family: "IranSans", sans-serif;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

.swiper-slide {
  margin: 0 auto;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}
